.leads {
  position: relative;
  padding-bottom: 300px;

  @include min-breakpoint(991) {
    padding-bottom: 30px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 100px;
    left: -150px;
    width: 400px;
    height: 400px;
    background: url(../images/pattern-circle.png) center center / cover no-repeat;
    z-index: 2;
    opacity: 0.5;
  }	
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    background: url(../images/va-staff.jpg) center center / contain no-repeat;
    z-index: 1;
    left: 50%;
    right: 0;
    width: 500px;
    height: 300px;
    transform: translateX(-50%);

    @include min-breakpoint(992) {
        width: 700px;
        height: 400px;
        left: auto;
        right: -200px;
        transform: translateX(0);
    }
    @include min-breakpoint(1300) {
      width: 800px;
      height: 470px;
      right: -200px;
    }
    @include min-breakpoint(1700) {
      width: 900px;
      height: 570px;
      right: -100px;
    }
  }
  .list-block {
  	
    position: relative;
    z-index: 2;
    text-align: center;

    @include min-breakpoint(576) {
        text-align: left;
    }
  }
  h2 {
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    @include min-breakpoint(992) {
        text-align: left;
    }
    span {
      color: $primary_color;

    }
  }
}
.single-lead {
	margin: 20px 0;
   h3 {
   	font-size: 22px;
   	line-height: 25px;
   	margin-bottom: 5px;
   }
}