.process-area {

	padding: 50px 0;
    position: relative;
    background-image: url(../images/bg.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

	.sec-title {
		text-align: center;
		max-width: 800px;
		margin: 30px auto 70px auto;
		color: #c3c3c3;
		h2 {
			@include headingSecondary;
			color: #fff;
		}
	}
	.list {
		&__item {
			margin-bottom: 20px;
			color: #fff;
			h4 {
				@include headingTertiary;
				color: $primary_color;
			}
			margin-bottom: 50px;
			display: flex;
			&-number {
			    font-size: 24px;
				height: 48px;
		    	width: 48px;
		    	line-height: 1;
		    	text-align: center;
		    	background: #fff;
		    	color: $darkerblue_color;
		    	border-radius: 50%;
				align-items: center;
				display: flex;
				justify-content: center;	
			    span {
					display: block;
			    	
			    }
			}
			&-info {
				width: calc(100% - 64px);
				font-weight: 500;
				padding-left: 20px;
			}
		}
	}
	
	
}